/* ADD ON CLASSES */
.constrain {
	max-width: 960px;
	margin: 0 auto;
}
.content {
	padding: 20px;
}
.slide {
	width: 100%;
	height: 100%;
	padding-top: 55px;
}
.slide:active {}

/* GENERAL STYLES */
* {
	text-decoration: none;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
}
html, body, main {height: 100%;}
body {
	background: #f15a24;
	color: #fff;
	margin: 0;
	font-family: 'Lato', sans-serif;
}
h1, h2 {
	text-align: center;
	font-weight: 400;
	line-height: 40px;
}
h1 {font-size: 40px;}
h2 {font-size: 30px;}
p {line-height: 25px;}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a {text-decoration: none;}
a.button {
	color: #fff;
	width: 200px;
	padding: 15px 20px;
	margin: 20px auto;
	border: 2px solid #fff;
	display: block;
	text-transform: uppercase;
	text-align: center;
}
a.button:hover {
	background: #fff;
	color: #f15a24;
}

/* HEADER & NAV */
header {
	background: #f15a24;
	width: 100%;
	display: block;
	position: fixed;
	top: 0;
	z-index: 999;
	box-shadow: 0 5px 0 0 rgba(0,0,0,0.1);
}
nav {}
nav ul {}
nav ul li {
	display: inline-block;
	float: left;
}
nav ul li:hover, nav ul li.active {background: rgba(0,0,0,0.1);}
nav ul li a {
	color: #fff;
	height: 55px;
	padding: 15px 20px;
	margin: 0;
	font-size: 15px;
	text-transform: uppercase;
	display: table-cell;
	vertical-align: middle;
}
nav ul li a img {
	height: 30px;
	margin: -5px 0;
	padding: 0;
}

/* HOME */
#home {
	background: url('../images/background-boston_skyline.png');
	background-size: cover;
	background-attachment: fixed;
}
#home img {
	height: auto;
	width: 20%;
	margin: 20px auto 0;
	display: block;
}
#home p {font-size: 20px;}

/* PRODUCTS */
#products, #product-detail, #about, #blog {
	background: #fff;
	color: #444;
}
#products ul, #blog .contentfeed {
	height: calc(100% - 100px);
	height: -o-calc(100% - 100px);
	height: -moz-calc(100% - 100px);
	height: -webkit-calc(100% - 100px);
	bottom: 0;
}
#products ul li {
	background: #f93;
	width: 20%;
	height: 100%;
	position: relative;
	bottom: 0;
	display: inline-block;
	overflow: hidden;
}
#products ul li:hover {}
#products ul li .text-box {
	width: 100%;
	height: 100%;
	padding: 20px;
	background: rgba(241,90,36,0.8);
	color: #fff;
	position: absolute;
	top: 0;
	z-index: 888;
	display: none;
}
#products ul li:hover .text-box {
	display: block;
}
#products ul li a {
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
	display: table-cell;
}
#products ul li a h3 {
	text-align: center;
	position: relative;
	vertical-align: middle;
}
#products ul li a img {
	width: auto;
	height: 100%;
}
#products .icon {
	width: 50px;
	height: auto;
	margin: 0 auto;
	display: block;
}

/* BLOG */
#blog #searchbar {
	width: 100%;
	display: block;
}
#blog input[type=search] {
    background: url("../images/search.png") no-repeat;
    background-size: 20px;
    background-position: 20px 50%;
    color: #444;
	width: 100%;
	max-width: 960px;
	padding: 20px 20px 20px 50px;
	margin: 20px auto 0;
	border: none;
	border-bottom: 1px solid #444;
	font-size: 20px;
	display: block;
}
#blog input[type=search]:focus,
#blog input[type=search]:hover,
#blog input[type=search]:hover > #blog #searchbar {
	outline: none;
	background-color: rgba(0,0,0,0.1);
}
::-webkit-input-placeholder {color: #444; font-weight: 100;}
:-moz-placeholder {color: #444; font-weight: 100;}
::-moz-placeholder {color: #444; font-weight: 100;}
:-ms-input-placeholder {color: #444; font-weight: 100;}
#blog .contentfeed {overflow: auto;}

/* CONTACT */
#contact {background: #f15a24;}
#contact form {
	width: 600px;
	background: #fff;
	margin: 0 auto;
}
#contact form input, #contact form input[type=textarea] {
	width: 100%;
	padding: 20px;
	margin: 0;
	border: none;
}
#contact form input:hover, #contact form input[type=textarea]:hover {
	background: rgba(0,0,0,0.1);
}

/* FOOTER */
footer {
	background: #444;
	width: 100%;
	border-top: 2px solid #fff;
	float: left;
}
footer .contact, footer .social {
	float: left;
	width: 50%;
}
footer .social a {
	color: #fff;
	width: auto;
	display: block;
	padding: 3px;
	float: left;
}
footer .social img {
	width: 36px;
	height: auto;
	margin: 0;
	filter: saturate(0%);
	-webkit-filter: saturate(0%);
	-moz-filter: saturate(0%);
	-o-filter: saturate(0%);
	-ms-filter: saturate(0%);
	box-shadow: 0 0 0 1px #fff;
}
footer a:hover {color: #f15a24;}
footer a:hover img {
	box-shadow: 0 0 0 2px #f15a24;
	filter: saturate(100%);
	-webkit-filter: saturate(100%);
	-moz-filter: saturate(100%);
	-o-filter: saturate(100%);
	-ms-filter: saturate(100%);
}
.copyright {
	clear: both;
	font-size: 0.75em;
}