/* ADD ON CLASSES */
.constrain {
	max-width: 960px;
	margin: 0 auto;
}
.content {
	padding: 20px;
}
.slide {
	width: 100%;
	height: 100%;
	padding-top: 55px;
}
.slide:active {}

/* GENERAL STYLES */
* {
	text-decoration: none;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
}
html, body, main {height: 100%;}
body {
	background: url('../images/background-boston_skyline.png') #444;
	background-attachment: fixed;
	background-size: cover;
	color: #fff;
	margin: 0;
	font-family: 'Lato', sans-serif;
}
h1, h2 {
	text-align: center;
	font-weight: 400;
	line-height: 40px;
}
h1 {font-size: 40px;}
h2 {font-size: 30px;}
p {line-height: 25px;}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a {text-decoration: none;}

/* HEADER & NAV */
header {
	background: #f15a24;
	width: 100%;
	display: block;
	position: fixed;
	top: 0;
	z-index: 999;
	box-shadow: 0 5px 0 0 rgba(0,0,0,0.2);
}
nav {}
nav ul {}
nav ul li {
	display: inline-block;
	float: left;
}
nav ul li:hover, nav ul li.active {background: rgba(0,0,0,0.1);}
nav ul li a {
	color: #fff;
	height: 55px;
	padding: 15px 20px;
	margin: 0;
	font-size: 15px;
	text-transform: uppercase;
	display: table-cell;
	vertical-align: middle;
}
nav ul li a img {
	height: 30px;
	margin: -5px 0;
	padding: 0;
}

/* MAIN CONTENT */
#home img {
	height: auto;
	width: 20%;
	margin: 20px auto 0;
	display: block;
}
#home a {
	color: #fff;
	width: 200px;
	padding: 15px 20px;
	margin: 20px auto;
	border: 2px solid #fff;
	display: block;
	text-transform: uppercase;
	text-align: center;
}
#home a:hover {
	background: #fff;
	color: #f15a24;
}
#home p {font-size: 20px;}

#products, #about, #blog {
	background: #fff;
	color: #444;
}
#products ul {
	height: calc(100% - 103px);
	height: -o-calc(100% - 103px);
	height: -moz-calc(100% - 103px);
	height: -webkit-calc(100% - 103px);
	bottom: 0;
}
#products ul li {
	background: #f93;
	width: 20%;
	height: 100%;
	position: relative;
	bottom: 0;
	display: inline-block;
	overflow: hidden;
}
#products ul li:hover {}
#products ul li .text-box {
	width: 100%;
	height: 100%;
	padding: 20px;
	background: rgba(241,90,36,0.8);
	color: #fff;
	position: absolute;
	top: 0;
	z-index: 888;
	display: none;
}
#products ul li:hover .text-box {
	display: block;
}
#products ul li a {
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
	display: table-cell;
}
#products ul li a h3 {
	text-align: center;
	position: relative;
	vertical-align: middle;
}
#products ul li a img {
	width: auto;
	height: 100%;
}
#products .icon {
	width: 50px;
	height: auto;
	margin: 0 auto;
	display: block;
}
#contact {background: #f15a24;}

footer {
	background: #444;
	width: 100%;
	border-top: 2px solid #fff;
	float: left;
}
footer .contact, footer .social {
	float: left;
	width: 50%;
}
footer .social a {
	color: #fff;
	width: auto;
	display: block;
	float: left;
	padding: 10px;
	border: 1px solid #fff;
}
footer a:hover {
	color: #f15a24;
	background: #fff;
}
.copyright {
	clear: both;
	font-size: 0.75em;
}