<div class="constrain">
	<article class="content">
		<h3>Get to know Finix . . .</h3>
		<p>Finix is a digital marketing and web design team from Boston, formed in 2013. We are committed to providing high-end internet-based marketing, web design, and branding solutions at a price that fits a small business budget. Digital marketing has quickly become the easiest and most effective way to reach customers in your target markets. The internet is the great equalizer, giving small and mid-sized businesses a soapbox to spread their message, generate consumer awareness, and sell their products. The opportunity to develop a strong brand and compete with larger corporations on a national scale is within reach - and all it takes to succeed is some quality help and guidance. <a href ng-click="slide.selectTab(2)">That's where we come in!</a></p>
	</article>
	<h3 class="content">Meet the Team!</h3>
</div>
<ul ng-controller="TeamController as team">
	<li class="teamprofile fifth" ng-repeat="product in team.products">
		<a href="{{product.link}}" target="_blank">
			<img src="{{product.portrait}}" alt="{{product.portraitalt}}"/>
			<div class="text-box">
				<h3>{{product.name}}</h3>
				<h4>{{product.title}}</h4>
				<p>{{product.bio}}</p>
			</div>
		</a>
	</li>
</ul>
