<ul>
	<li ng-class="{ active:slide.isSelected(1) }">
		<a href ng-click="slide.selectTab(1)">
			<img src="images/logo-finix-2014.png" alt="Finix Logo"/>
		</a>
	</li>
	<li ng-class="{ active:slide.isSelected(2) }">
		<a href ng-click="slide.selectTab(2)">Products</a>
	</li>
	<li ng-class="{ active:slide.isSelected(3) }">
		<a href ng-click="slide.selectTab(3)">About</a>
	</li>
	<li ng-class="{ active:slide.isSelected(4) }">
		<a href ng-click="slide.selectTab(4)">Blog</a>
	</li>
	<li ng-class="{ active:slide.isSelected(5) }">
		<a href ng-click="slide.selectTab(5)">Contact</a>
	</li>
</ul>