<!DOCTYPE html>
<html ng-app="controllers">
<head>
	<title>Digital Marketing and Web Design Solutions for Small Businesses | Finix</title>
	<meta name="description" content="Digital Marketing and Web Design Solutions for Small Businesses">
	<meta name="keywords" content="Web Design,Marketing,Digital Marketing,Social Media Marketing,Email Marketing,HTML,CSS,JavaScript">
	<meta name="author" content="Richard Smith">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" href="../images/icons/social/icon-finix.png"/>
	<link type="text/css" rel="stylesheet" href="../css/styles.css"/>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,400,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
	<script type="text/javascript" src="../js/buy.js"></script>
	<script type="text/javascript">// <![CDATA[
		Stripe.setPublishableKey('pk_test_gECjQexoB1QkU0i62ESTmOPP');
	// ]]></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
</head>
<body ng-controller="SlideController as slide">
	<main id="product-brand" class="product">
		<div class="body constrain">
			<a class="navlogo" href="/website/">
				<img src="../images/logo-finix-2014.png" alt="Finix Logo"/>
			</a>
			<div class="content">
				<img class="logo" src="../images/icons/icon-brand.png" alt="Branding"/>
				<h1>Branding</h1>
			</div>
			<div class="description content">
				<h3>Stand out from the crowd!</h3>
				<p>
					Branding is the first step for any new company. Logo creation and brand identity development give your fledgeling business a professional look. This package covers a single round each of Stage 1 (three preliminary logo sketches for you to choose from) and Stage 2 (turning one sketch into a finished design) of our logo creation process, as well as a single round of color and font selections (three options).
				</p>
				<ul id="details">
					<li ng-repeat="product.specs in products">
						{{product.spec}}
					</li>
				</ul>
				<ul id="gallery">
					<li ng-repeat="product.img in products">
						<img src="{{product.img}}" alt="{{product.alt}}"/>
					</li>
				</ul>
				<ul id="testimonials">
					<li ng-repeat="product.testimonial in products">
						<p>{{product.testimonial}}</p>
						<a href="{{product.source}}">{{product.source}}</a>
					</li>
				</ul>
			</div>
			<div class="form content">
				<form ng-model>
					<h3>Get started now!</h3>
					<label for="name">Name</label><input type="text" id="name" name="name" required/>
					<label for="email">Email</label><input type="text" id="email" name="email" required/>
					<button type="button" id="buynow" name="submit">Buy Now!</button>
				</form>
			</div>
		</div>
	</main>
</body>
</html>