<!DOCTYPE html>
<html ng-app="controllers">
<head>
	<title>Digital Marketing and Web Design Solutions for Small Businesses | Finix</title>
	<meta name="description" content="Digital Marketing and Web Design Solutions for Small Businesses">
	<meta name="keywords" content="Web Design,Marketing,Digital Marketing,Social Media Marketing,Email Marketing,HTML,CSS,JavaScript">
	<meta name="author" content="Richard Smith">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" href="../images/icons/social/icon-finix.png"/>
	<link type="text/css" rel="stylesheet" href="../css/styles.css"/>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,400,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
	<script type="text/javascript" src="../js/buy.js"></script>
	<script type="text/javascript">// <![CDATA[
		Stripe.setPublishableKey('pk_test_gECjQexoB1QkU0i62ESTmOPP');
	// ]]></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
</head>
<body ng-controller="SlideController as slide">
	<nav class="constrain">
		<ul>
			<li ng-class="{ active:slide.isSelected(1) }">
				<a href="/index.html">
					<img src="../images/logo-finix-2014.png" alt="Finix Logo"/>
				</a>
			</li>
		</ul>
	</nav>
	<main id="product-print" class="product">
		<div class="body constrain">
			<div class="content">
				<img class="logo" src="../images/icons/icon-print.png" alt="Print Marketing"/>
				<h1>Print Design</h1>
			</div>
			<div class="description content">
				<h3>Make a strong first impression!</h3>
				<p>
					Complete your branding package with custom printed materials for local networking needs. From business cards to advertisement design, we can provide you professional, eye-catching designs for all of your needs. This package covers one round of design (with three sketches based on information provided), and one round of turning one sketch into a finished design. This also includes one round of color and font selections.
				</p>
				<ul id="details">
					<li ng-repeat="product.specs in products">
						{{product.spec}}
					</li>
				</ul>
				<ul id="gallery">
					<li ng-repeat="product.img in products">
						<img src="{{product.img}}" alt="{{product.alt}}"/>
					</li>
				</ul>
				<ul id="testimonials">
					<li ng-repeat="product.testimonial in products">
						<p>{{product.testimonial}}</p>
						<a href="{{product.source}}">{{product.source}}</a>
					</li>
				</ul>
			</div>
			<div class="form content">
				<form ng-model>
					<h3>Get started now!</h3>
					<label for="name">Name</label><input type="text" id="name" name="name" required/>
					<label for="email">Email</label><input type="text" id="email" name="email" required/>
					<button type="button" id="buynow" name="submit">Buy Now!</button>
				</form>
			</div>
		</div>
	</main>
</body>
</html>