<div class="body full">
	<div class="constrain">
		<div class="content full">
			<img class="logo" src="{{ productdetails.products.icon.src }}" alt="{{ productdetails.products.icon.alt }}"/>
			<h1>{{ productdetails.products.name }}</h1>
		</div>
		<div class="content half">
			<h3>{{ productdetails.products.text.headline }}</h3>
			<p>{{ productdetails.products.text.description }}</p>
		</div>
		<div class="content half">
			<form class="full" ng-model>
				<h3>Get started now!</h3>
				<label for="name">Name</label><input type="text" id="name" name="name" required/>
				<label for="email">Email</label><input type="text" id="email" name="email" required/>
				<button type="button" id="buynow" name="submit">Buy Now!</button>
			</form>
		</div>
	</div>
</div>